/*!
    Document   : icon.css
    Created on : May 14, 2018, 10:12:57 PM
    Author     : Sean
*/

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0; color: #ffffff; background-color:#707070;}
footer,header,nav,section{display:block}
button,input{font:inherit;margin:0}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
.oms-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.oms-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.oms-display-container{position:relative}


.oms-container:after,.oms-container:before,.oms-panel:after,.oms-panel:before,.oms-row:after,.oms-row:before,.oms-row-padding:after,.oms-row-padding:before,
.oms-bar:before,.oms-bar:after{content:"";display:table;clear:both}
.oms-col,.oms-quarter{float:left;width:100%}

@media (min-width:601px){.oms-col.m1,.oms-quarter{width:24.99999%}.oms-col.m2{width:49.99999%}}

.oms-rest{overflow:hidden}.oms-stretch{margin-left:-16px;margin-right:-16px}
.oms-content,.oms-auto{margin-left:auto;margin-right:auto}.oms-content{max-width:980px}.oms-auto{max-width:1140px}
.oms-cell-row{display:table;width:100%}.oms-cell{display:table-cell}
.oms-cell-top{vertical-align:top}.oms-cell-middle{vertical-align:middle}.oms-cell-bottom{vertical-align:bottom}
.oms-hide{display:none!important}.oms-show-block,.oms-show{display:block!important}.oms-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.oms-auto{max-width:95%}}
@media (max-width:600px){.oms-modal-content{margin:0 10px;width:auto!important}.oms-modal{padding-top:30px}
.oms-dropdown-hover.oms-mobile .oms-dropdown-content,.oms-dropdown-click.oms-mobile .oms-dropdown-content{position:relative}
.oms-hide-small{display:none!important}.oms-mobile{display:block;width:100%!important}.oms-bar-item.oms-mobile,.oms-dropdown-hover.oms-mobile,.oms-dropdown-click.oms-mobile{text-align:center}
.oms-dropdown-hover.oms-mobile,.oms-dropdown-hover.oms-mobile .oms-btn,.oms-dropdown-hover.oms-mobile .oms-button,.oms-dropdown-click.oms-mobile,.oms-dropdown-click.oms-mobile .oms-btn,.oms-dropdown-click.oms-mobile .oms-button{width:100%}}
@media (max-width:768px){.oms-modal-content{width:500px}.oms-modal{padding-top:50px}}
@media (min-width:993px){.oms-modal-content{width:900px}.oms-hide-large{display:none!important}.oms-sidebar.oms-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.oms-hide-medium{display:none!important}}
@media (max-width:992px){.oms-sidebar.oms-collapse{display:none}.oms-main{margin-left:0!important;margin-right:0!important}.oms-auto{max-width:100%}}
.oms-top{position:fixed;width:100%;z-index:1;top:0}
.oms-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.oms-display-container:hover .oms-display-hover{display:block}.oms-display-container:hover span.oms-display-hover{display:inline-block}.oms-display-hover{display:none}
.oms-row-padding,.oms-row-padding>.oms-quarter{padding:0 8px}
.oms-container,.oms-panel{padding:0.01em 16px}.oms-panel{margin-top:16px;margin-bottom:16px}
.oms-code,.oms-codespan{font-family:Consolas,"courier new";font-size:16px}
.oms-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.oms-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.oms-card,.oms-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.oms-card-4,.oms-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.oms-spin{animation:oms-spin 2s infinite linear}@keyframes oms-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

.oms-opacity,.oms-hover-opacity:hover{opacity:0.60}.oms-opacity-off,.oms-hover-opacity-off:hover{opacity:1}
.oms-opacity-max{opacity:0.25}.oms-opacity-min{opacity:0.75}
.oms-xlarge{font-size:30px!important}.oms-xxlarge{font-size:36px!important}.oms-xxxlarge{font-size:48px!important}.oms-jumbo{font-size:64px!important}
.oms-left-align{text-align:left!important}.oms-right-align{text-align:right!important}.oms-justify{text-align:justify!important}.oms-center{text-align:center!important}
.oms-border-0{border:0!important}.oms-border{border:1px solid #ccc!important}
.oms-border-top{border-top:1px solid #ccc!important}.oms-border-bottom{border-bottom:1px solid #ccc!important}
.oms-border-left{border-left:1px solid #ccc!important}.oms-border-right{border-right:1px solid #ccc!important}
.oms-topbar{border-top:6px solid #ccc!important}.oms-bottombar{border-bottom:6px solid #ccc!important}
.oms-leftbar{border-left:6px solid #ccc!important}.oms-rightbar{border-right:6px solid #ccc!important}
.oms-section,.oms-code{margin-top:16px!important;margin-bottom:16px!important}
.oms-margin{margin:16px!important}.oms-margin-top{margin-top:16px!important}.oms-margin-bottom{margin-bottom:16px!important}
.oms-margin-left{margin-left:16px!important}.oms-margin-right{margin-right:16px!important}
.oms-padding-small{padding:4px 8px!important}.oms-padding{padding:8px 16px!important}.oms-padding-large{padding:14px 24px!important}
.oms-padding-16{padding-top:16px!important;padding-bottom:16px!important}.oms-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.oms-padding-32{padding-top:32px!important;padding-bottom:32px!important}.oms-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.oms-padding-64{padding-top:64px!important;padding-bottom:64px!important}


.searchbtn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0066cc;
    border: none;
    border-radius: 10px; 
}


.oms-button:hover{color:#000!important;background-color:#ccc!important}
/* Colors */
.oms-white,.oms-hover-white:hover{color:#000!important;background-color:#fff!important}
.oms-dark-grey,.oms-hover-dark-grey:hover,.oms-dark-gray,.oms-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.oms-black,.oms-hover-black:hover{color:#fff!important;background-color:#000!important}
